<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OneNightStand</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="navbar">
  <div class="navbar__container">
    <a href="/" id="navbar__logo">OneNightStand</a>
    <div class="navbar__toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a href="/" class="navbar__links">
          Home
        </a>
      </li>
      <li class="navbar__item">
        <a href="/post.html" class="navbar__links">
          Post
        </a>
      </li>
      <li class="navbar__item">
        <a href="/" class="navbar__links">
          Products
        </a>
      </li>
      <li class="navbar__item">
        <a href="/" class="button">
          Sign Up
        </a>
      </li>
      <li class="navbar__item">
        <a href="/" class="navbar__links">
          Help
        </a>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>